html *
{
font-family: 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica, sans-serif;

}
header{
background: linear-gradient(to right, #FFFFFF 30% ,#FF4719 100%); 
background: -webkit-linear-gradient(left, #FFFFFF 30% ,#FF4719 100%); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #FFFFFF 30% ,#FF4719 100%); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(to right, #FFFFFF 30% ,#FF4719 100%); /* For Firefox 3.6 to 15 */
height:130px;
width:98%;
margin-left:1%;
box-shadow: 3px 3px 7px black;
}
a{
color:#1F1F14;
 text-decoration: none;
}
a:hover{color:white;}
#navg{
color:#1F1F14;
background-color:#FF4719;
margin-top:15px;
margin-left:10%;
height:45px;
width:80%;
cursor:default;
border-radius:3px;
box-shadow: 2px 0px 7px black;
}
footer{
background-color:#FF4719;
clear:both;
height:50px;
width:98%;
margin-left:1%;
margin-top:620px;
border-radius:3px;
box-shadow: 2px 2px 7px black;
}
#search{
margin-top:10px;
clear:both;
float:right;
width:10%;
margin-right:2%;
}
#searchbar{
width:100%;
height:20px;
float:right;
}
.navlist{
margin-left:5%;
display:inline;
font-size:25px;
}
.navlist:first-child{
margin-left:23%;
}
#Language{
float:right;
margin-right:2%;
margin-top:10px;
}
#Register{
clear:both;
float:left;
margin-left:10%;
width:80%;
height:600px;
border-radius:3px;
box-shadow: 2px 2px 7px black;
}
#Register form input{
margin-left:1%;
text-align:bottom;
}

.registerfields{
float:right;
margin-right:20%;
}
.registerfields input{
border-radius:3px;
background-color:#F5F5F0;
}
#right p{
margin-left:10%;
}
#left p{
margin-left:10%;
}
.registerfields:first-child{
margin-top:10px;
}




#Login{
clear:both;
float:left;
margin-left:10%;
width:80%;
height:300px;
border-radius:3px;

}
#Password2
{
margin-top:50px;
}
h2 a:hover{
color:black;}


